.title h1 {
  font-size: 24px;
}

.title h1::after {
  background-image: linear-gradient(90deg, #8cc9f0, #efa8b0);
  display: block;
  content: "";
  width: 4em;
  height: 2px;
  margin: 0.7em 0 1em 0;
  border-radius: 2px;
}
